@import 'styles';

@import 'mobileFirst';

* {
 font-family: var(--fontRoboto);
 font-weight: 400;
}

html,
body {
 overflow-x: hidden;

 width: 100%;
 height: 100%;
}

.container {
 margin-left: auto;
 margin-right: auto;
 padding: 0 15px;
 width: 100%;

 @include mobile {
  max-width: 480px;
 }

 @include tablet {
  max-width: 768px;
 }

 @include desktop {
  max-width: 1440px;
 }
}

main {
 flex-grow: 1;
}

.layoutCss {
 display: flex;
 flex-direction: column;
}

button {
 background: none;
}
