:root {
  --primaryBgColor: #ffffff;
  --secondaryBgColor: #f5f4fa;

  --primary-textColor: #212121;
  --secondary-textColor: #757575;

  --accentColor: #2196f3;
  --hoverColor: #188ce8;
  --alertColor: red;

  --footerColor: #2f303a;

  --borderColor: #ececec;
  --gradientColor: #2f303a66;

  --blackColor: #000000;
}
