:root {
  --black-color: #343434;
  --white-color: #ffffff;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;

  --primary-text-color: #212121;
  --secondary-text-color: #757575;

  --accent-color: #2196f3;
  --hover-color: #1382dc;

  --alert-color: #e74a3b;
  --success-color: #3cbc81;

  --icon-color: #afb1b8;
  --footer-color: #2f303a;
  --gradient-color: #2f303a66;
  --backdrop-color: rgba(23, 24, 32, 0.5);

  --border-color: #ececec;
  --placeholder-color: #5c5858;
}
