@import 'mixins';

.footer__logo {
  font-weight: 500;
  color: var(--primary-bg-color);
}

.address {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: fit-content;
  }
}

.address__link {
  margin-top: 9px;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms;

  &:nth-of-type(2) {
    margin-top: 20px;
    color: var(--primary-bg-color);
  }

  &:hover {
    color: var(--accent-color);
  }
}
