.socials {
  text-transform: uppercase;
  color: var(--white-color);
}

.socials__wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms, color 250ms;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
  }

  & svg {
    fill: var(--white-color);
  }
}
