.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;

  // &__item {
  //   width: 44px;
  //   height: 44px;
  // }

  // &__link {
  //   width: 100%;
  //   height: 100%;

  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   border-radius: 50%;
  //   color: #afb1b8;
  //   transition: background-color 250ms, color 250ms;

  //   &:hover,
  //   &:focus {
  //     background-color: var(--accent-color);
  //     color: var(--primary-bg-color);
  //   }
  // }

  // &__icon {
  //   width: 20px;
  //   height: 20px;

  //   fill: currentColor;
  // }
}

// .join__social {
//   color: var(--primary-bg-color);
//   background-color: rgba(255, 255, 255, 0.1);
//   transition: background-color 250ms;
// }

.socials__title {
  text-transform: uppercase;
  color: var(--white-color);
}
