.mailContact {
  text-decoration: none;
}
.phoneContact {
  text-decoration: none;
}
.whatsAppContact {
  text-decoration: none;
}
.telegramContact {
  text-decoration: none;
}
.linkedInContact {
  text-decoration: none;
}
.gitHubContact {
  text-decoration: none;
}
.mapContact {
  text-decoration: none;
}
