@import 'mixins';

.contact {
  display: none;

  @include tablet {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }

  @include desktop {
    display: flex;
  }

  list-style: none;
}

.contact__item:not(:last-child) {
  @include lessDesktop {
    margin-bottom: 10px;
  }

  @include desktop {
    margin-right: 30px;
  }
}

.contact__link {
  @include desktop {
    padding-top: 32px;
    padding-bottom: 28px;
    font-size: 14px;
  }

  display: flex;
  align-items: center;

  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
  transition: color 250ms;

  &:not(:last-child) {
    @include lessDesktop {
      margin-bottom: 10px;
    }

    @include desktop {
      margin-right: 30px;
    }
  }

  &:hover {
    color: var(--hover-color);
  }
}

.contact__icon {
  margin-right: 6px;

  @include lessDesktop {
    height: 16px;
    width: 16px;
  }
}
