@import 'mixins';

.footer {
  max-width: 100vw;
  padding-block: 60px;

  background-color: var(--footer-color);

  @include desktop {
    flex-wrap: nowrap;
    text-align: left;
  }
}

.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;

  text-align: center;
  align-items: baseline;

  @include tablet {
    gap: 0;
  }

  @include desktop {
    justify-content: space-between;
    gap: 100px;
    flex-wrap: nowrap;
    text-align: left;
  }
}
