@import 'mixins';

.footer {
  max-width: 100vw;
  padding-block: 60px;

  background-color: var(--footer-color);

  @include desktop {
    flex-wrap: nowrap;
    text-align: left;
  }
}

.footer__wrap {
  display: flex;
  gap: 70px;
  align-items: baseline;

  // display: grid;
  // grid-template-columns: 1fr 1fr 2fr;
  // grid-template-rows: repeat(1fr, 2);
}
