@import 'mixins';

.footer {
  padding-block: 60px;
  // display: grid;
  // grid-template-columns: 1fr 1fr 2fr;
  // grid-template-rows: repeat(1fr, 2);

  background-color: var(--footerColor);

  @include desktop {
    flex-wrap: nowrap;
    text-align: left;
  }

  // & > span:not(:first-of-type) {
  //   font-size: 26px;
  //   color: white;
  //   outline: 1px solid tomato;
  // }
}
